<!DOCTYPE html>
<html lang="es">
<!-- Include Head --> 
<%- include('./partials/head')%>
	<body>
	<!-- Header --> 
	<%- include('./partials/header')%>

    <h1 class="error">Usuario o contraseña incorrecta</h1>
    <h2 class="error2">Vuelve atras e intenta denuevo</h2>

    <!-- footer -->
	<%- include('./partials/footer')%>


    </body>
		