<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')%>

<body>
	<!-- Header -->
	<%- include('./partials/header')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container">

		<div class="formulario">   
			<div class="titulo">
				<h2 class="products-title">Iniciar Sesion</h2>
			</div>
		<div>
			<form action="/users/login" method="POST" class="col-6">

				<div class="filas">
					<div class="fila">
						<label for="email" >Email</label>
                    	<input type="email" id="email" name="email" required>
					</div>
					<div class="fila">
						<label for="password" >Contraseña</label>
						<input type="password" id="password" name="password" required>
					</div>
				</div>
				<p class="boton">		
				<button type="submit" class="button button-block">Iniciar Sesion</button>
				</p>			
			</form>
		</div>	
		
		</div>	
			
	</div>

	<!-- footer -->
	<%- include('./partials/footer')%>
	<!-- /footer -->
</body>

</html>