<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')%>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado')%>
	<!-- /Header -->

	<!-- Novedades -->
	
	<div class="container">	
		<div class="formulario2">	
			<div class="titulo">
				<h2 class="products-title">Cargar Rescatado</h2>
			</div>
			<div>
				<form action="/product/add" method="POST" class="col-6" enctype="multipart/form-data">
						
					<div class="filas">
						<div class="fila2">
							<label>
								Nombre <span class="req">*</span>
							</label>
							<input type="text" name="nombre"  />
						</div>	
						<div class="fila2">
							<label>
								Fecha de rescate <span class="req">*</span>
							</label>
							<input type="date" name="rescate"  />
						</div>
						<div class="fila2">
							<label>
								Animal: <span class="req">*</span>
							</label>
							<div>
							<input class='clase' type="radio" name="clase" id="1" value="1">
							<label for="1">Perro</label>
							<br/> <br/>
							<input class='clase' type="radio" name="clase" clase="0" value="0">
							<label for="0">Gato</label>
							</div>
						</div>
						<div class="fila2">
							<label>
								Imagen <span class="req">*</span>
							</label>
							<input type="file" name="imagen" accept="image/png, image/jpeg" />
						</div>
						<div class="fila3">
							<label>
								Descripcion <span class="req">*</span>								
							</label>
							<input type="text" name="descripcion"/>
						</div>
					</div>
					<p class="boton">
					<button type="submit" class="button button-block"> Publicar </button>	
					</p>
				</form>						
			</div>	
		</div>

	</div>		
	<!-- footer -->
	<%- include('./partials/footer')%>
	<!-- /footer -->
</body>

</html>