<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')%>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row justify-content-md-center">
			<div class="col-12">
				<h2 class="products-title">Agregar rescatado</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
			<form action="/" method="GET">

				<div class="filas">
					<div class="fila">
						<label>
							Nombre <span class="req">*</span>
						</label>
						<input type="text"  />
					</div>	
					<div class="fila">
						<label>
								Fecha de nacimiento <span class="req">*</span>
						</label>
						<input type="number"  />
					</div>
					<div class="fila">
						<label>
							Imagen <span class="req">*</span>
						</label>
						<input type="file"/>
					</div>
					<div class="fila">
						<label>
							Descripcion <span class="req">*</span>
						</label>
						<input type="text"/>
					</div>
				</div>			
				<button type="submit" class="button button-block"> Agregar </button>
						
			</form>
			
	<!-- footer -->
	<%- include('./partials/footer')%>
	<!-- /footer -->
</body>

</html>