<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title>PetFinder</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="./css/app.css">
	<link rel="stylesheet" href="./css/register.css">
</head>

<body>
	<!-- Header -->
	<%- include('./partials/header')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container">

		<div class="inicio-sesion">   
			<div class="Registrate">
				<h2 class="products-title">Registrate</h2>
			</div>
						
			<form action="/" method="post">

				<div class="filas">
					<div class="fila">
						<label>
							Nombre Completo<span class="req">*</span>
						</label>
						<input type="text"  />
					</div>	
					<div class="fila">
						<label>
								Año de nacimiento <span class="req">*</span>
						</label>
						<input type="number"  />
					</div>
					<div class="fila">
						<label>
							Email Address<span class="req">*</span>
						</label>
						<input type="email"/>
					</div>
					<div class="fila">
						<label>
							Crea tu contraseña<span class="req">*</span>
						</label>
						<input type="password"/>
					</div>
				</div>			
				<button type="submit" class="button button-block"/> Empecemos </button>
						
			</form>
			
		</div>	
			
	</div>

	<!-- footer -->
	<%- include('./partials/footer')%>
	<!-- /footer -->
</body>

</html>