<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')%>

<body>
	<!-- Header -->
	<%- include('./partials/header')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container">

		<div class="inicio-sesion">   
			<div class="Registrate">
				<h2 class="products-title">Registrate</h2>
			</div>
						
			<form action="/" method="GET">

				<div class="filas">
					<div class="fila">
						<label>
							Nombre Completo<span class="req">*</span>
						</label>
						<input type="text"  />
					</div>	
					<div class="fila">
						<label>
								Año de nacimiento <span class="req">*</span>
						</label>
						<input type="number"  />
					</div>
					<div class="fila">
						<label>
							Email Address<span class="req">*</span>
						</label>
						<input type="email"/>
					</div>
					<div class="fila">
						<label>
							Crea tu contraseña<span class="req">*</span>
						</label>
						<input type="password"/>
					</div>
				</div>			
				<button type="submit" class="button button-block"/> Empecemos </button>
						
			</form>
			
		</div>	
			
	</div>

	<!-- footer -->
	<%- include('./partials/footer')%>
	<!-- /footer -->
</body>

</html>