<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title>PetFinder</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="./css/app.css">
</head>

<body>
	<!-- Header -->
	<%- include('./partials/header')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <div class="form">
      
				<ul class="tab-group">
				  <li class="tab active"><a href="#signup">Sign Up</a></li>
				  <li class="tab"><a href="#login">Log In</a></li>
				</ul>
				
				<div class="tab-content">
				  <div id="signup">   
					<h1>Sign Up for Free</h1>
					
					<form action="/" method="post">
					
					<div class="top-row">
					  <div class="field-wrap">
						<label>
						  First Name<span class="req">*</span>
						</label>
						<input type="text" required autocomplete="off" />
					  </div>
				  
					  <div class="field-wrap">
						<label>
						  Last Name<span class="req">*</span>
						</label>
						<input type="text"required autocomplete="off"/>
					  </div>
					</div>
					<div class="top-row">
						<div class="field-wrap">
						  <label>
							Año de nacimiento <span class="req">*</span>
						  </label>
						  <input type="number" required autocomplete="off" />
						</div>
					
		  
					<div class="field-wrap">
					  <label>
						Email Address<span class="req">*</span>
					  </label>
					  <input type="email"required autocomplete="off"/>
					</div>
					
					<div class="field-wrap">
					  <label>
						Set A Password<span class="req">*</span>
					  </label>
					  <input type="password"required autocomplete="off"/>
					</div>
					
					<button type="submit" class="button button-block"/>Get Started</button>
					
					</form>
		  
				  </div>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer')%>
	<!-- /footer -->
</body>

</html>