<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Milagros Echague</h2>
                    <p>"Apasionada por los perros y los gatos, entusiasmada por incentivar a las personas a que les den un hogar"</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Lara Kreimer</h2>
                    <p>"Mi fuente mas pura de amor son los animales, siento que merecen tener un hogar donde vivir y ser queridos"</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Benjamin Echague</h2>
                    <p>"La mejor compania de un ser humano es un perro, quiero aportar mi grano de arena para que encuentren hogar"</p>
                </article>
            </div>
        </div>
    </div>
</footer>