<header class="main-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-5 col-md-2">
                <a href="/" class="main-header_home-link">
                    <img src="/images/PetFinderLogo.jpeg">
                </a>
            </div>

            <div class="col-7 col-md-6">
                <form action="/buscador" method="GET" class="search-form">
                    <input type="text" name="search" placeholder="Buscar m치s animales" class="search-form_input">
                    <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                </form>
            </div>

            <div class="col-12 col-md-4">
                <a class="main-header_credit-link">
                    A solo un click de encontrar a tu mascota!
                </a>
            </div>
        </div>

        <button class="btn-toggle-navbar">
            <i class="fas fa-bars"></i>
        </button>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="/" class="hipervinculo">Todos los rescatados</a></li>
                <!-- solo logueado <li><a href="">Cargar productos</a></li> -->
            </ul>

            <ul class="right-navbar">
                <!-- Solo logueado <li><a href="profile.html">
                        Nombre del usuario <i class="fas fa-user"></i>
                    </a>
                </li>
                <li>
                    <form action="" method="post">
                        <button class="logout" type="submit">
                            Cerrar sesi칩n <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </form>
                </li> -->
                <li>
                    <a href="/register" class="hipervinculo">Cre치 tu cuenta <i class="far fa-address-card"></i>
                    </a>
                </li>
                <li>
                    <a href="/login" class="hipervinculo">Ingres치 <i class="fas fa-sign-in-alt"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</header>